doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        title M1Gi's Image Search Abstraction Layer API
        link(rel='stylesheet' href='/stylesheets/style.css')
        
    body
        block content

